<!DOCTYPE html>
<html lang="en">
<title>Canvas.</title>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= css :application %>
  <%= js :application %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/artists" class="canvas"><i class="fa fa-paint-brush"></i><strong>  Canvas.</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="/pieces">Gallery</a></li>
            <% if is_logged_in? %>
              <li><a href="/artists">Artists</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_artist.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/artists/<%= current_artist.id %> ">Profile</a>
                  </li>
                  <li>
                    <a href="/artists/<%= current_artist.id %>/edit">Edit Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <main class="container">
    <%= styled_flash %>
    <%= yield %>
  <main>

  <footer class="col-md-12"> 
   
      2016&copy; Undead<i class="fa fa-heartbeat"></i>Fred
  
  </footer>
</body>
</html>
